In [1]:
print("PRINT :HELLO WORLD")

PRINT :HELLO WORLD

In [1]:
print(":HELLO WORLD")

:HELLO WORLD

# ARITHMETIC OPERATIONS

In [2]:
1+15

16

In [3]:
3-5

-2

In [4]:
5*5

25

In [5]:
5**10

9765625

17

# ASSIGNMENT OPERATOR

Assignment operators are used to assign values to a variable

In [8]:
x=5
y=6
z=x+y
z+y

17

In [9]:
z=z+x
z*x

80

In [12]:
print(z)
print(x*y)

16
30

# BOOLEAN OPERATORS

<, >, ==, !=(means not equal to)...

In [15]:
x>y

False

In [16]:
x==y

False

In [17]:
z!=y

True

In [19]:
x<y and x+y<z

True

In [20]:
z<x or z>y

True

In [21]:
import math as M

In [22]:
M.sqrt(x+y)

3.3166247903554

# DATA TYPES IN PYTHON

In [23]:
type(z)

int

In [24]:
type(M.sqrt(x+y))

float

In [27]:
print(type("charles"))

<class 'str'>

In [26]:
type(M)

module

In [28]:
numbers=[1,2,3,4,5]

In [29]:
numbers

[1, 2, 3, 4, 5]

In [30]:
print(numbers)

[1, 2, 3, 4, 5]

In [31]:
type(numbers)

list

In [32]:
numbers[2]

3

In [40]:
PYTHONCLASS=["Franklyn","Henry","Precious","Michael","Barry","Elvis"]

In [39]:
len(numbers)

5

In [41]:
len(PYTHONCLASS)

6

In [42]:
PYTHONCLASS[4]

'Barry'

In [43]:
type(PYTHONCLASS)

list

In [44]:
PYTHONCLASS.append("Charles")

In [45]:
len(PYTHONCLASS)

7

In [46]:
print(PYTHONCLASS)

['Franklyn', 'Henry', 'Precious', 'Michael', 'Barry', 'Elvis', 'Charles']

In [48]:
PYTHONCLASS[2]="charles"

In [49]:
print(PYTHONCLASS)

['Franklyn', 'Henry', 'charles', 'Michael', 'Barry', 'Elvis', 'Charles']

# DICTIONARIES

In [53]:
DICTIONARIES=dict(SN=[1,2,3,4,5,6],Age=[15,51,34,43,13,21],NAMES=["Alvin","Alfred","Hermione","Ronald","Harry","Ginny"])
DICTIONARIES

{'Age': [15, 51, 34, 43, 13, 21],
 'NAMES': ['Alvin', 'Alfred', 'Hermione', 'Ronald', 'Harry', 'Ginny'],
 'SN': [1, 2, 3, 4, 5, 6]}

# ASSIGNMENT

1. * Create a variables: x,y,z. And assign 50, 80, 40 to them.
   * Apply arithmetic and assignment operators
   * Compare the variables
   
2. Create a list of strings, select a particular item and change one of them
3. Create a dictionary

In [2]:
bool([])

False

In [3]:
LIST=["me","myself","I"]

In [4]:
len(LIST)

3

In [5]:
LIST.insert(3,"you")

In [6]:
len(LIST)

4

In [9]:
LIST.extend(["youself","they","them"])

In [10]:
print(LIST)

['me', 'myself', 'I', 'you', 'youself', 'they', 'them']

In [12]:
LIST.insert(5,"themselves")

In [13]:
LIST[4]='yourself'

In [14]:
LIST.count('I')

1

In [15]:
LIST.index('I')

2

In [21]:
print(LIST)

['me', 'myself', 'I', 'you', 'yourself', 'themselves', 'they', 'them']

In [20]:
LIST[::3]

['me', 'you', 'they']

In [22]:
LIST[::-3]

['them', 'yourself', 'myself']

In [23]:
LIST[2:]

['I', 'you', 'yourself', 'themselves', 'they', 'them']